HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.svn

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js

# testing
/frontend/coverage

# production
/frontend/build
/frontend/yarn.lock

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.eslintcache
frontend2/.eslintcache
frontend2 가상본
frontend2/static 가상본
src/main/resources/static/.DS_Store
src/main/resources/static/.DS_Store
src/main/resources/static/asset-manifest.json
src/main/resources/static/index.html
src/main/resources/static/static/css/main.6dea0f05.chunk.css
src/main/resources/static/static/css/main.6dea0f05.chunk.css.map
src/main/resources/static/static/css/main.8c8b27cf.chunk.css
src/main/resources/static/static/css/main.8c8b27cf.chunk.css.map
src/main/resources/static/static/js/2.7037196b.chunk.js
src/main/resources/static/static/js/2.7037196b.chunk.js.LICENSE.txt
src/main/resources/static/static/js/2.7037196b.chunk.js.map
src/main/resources/static/static/js/2.bb8679f0.chunk.js
src/main/resources/static/static/js/2.bb8679f0.chunk.js.LICENSE.txt
src/main/resources/static/static/js/2.bb8679f0.chunk.js.map
src/main/resources/static/static/js/3.3119e240.chunk.js
src/main/resources/static/static/js/3.3119e240.chunk.js.map
src/main/resources/static/static/js/3.89dc4d72.chunk.js
src/main/resources/static/static/js/3.89dc4d72.chunk.js.map
src/main/resources/static/static/js/main.56f6056f.chunk.js
src/main/resources/static/static/js/main.56f6056f.chunk.js.map
src/main/resources/static/static/js/main.f2fe6f4d.chunk.js
src/main/resources/static/static/js/main.f2fe6f4d.chunk.js.map
src/main/resources/static/static/js/runtime-main.eede9868.js
src/main/resources/static/static/js/runtime-main.eede9868.js.map
src/main/resources/static/static/js/runtime-main.f725337f.js
src/main/resources/static/static/js/runtime-main.f725337f.js.map
frontend2/.eslintcache
src/main/resources/static/.DS_Store
src/main/resources/static/asset-manifest.json
src/main/resources/static/index.html
