<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.malgn.mission2.mapper.CategoryMapper">
	<select id="getCategoryList" resultType="Category">
        SELECT LEVEL,categoryid,categoryname, CATEGORYPARENT, CATEGORYORDER
		FROM category
		START WITH categoryparent IS NULL
		CONNECT BY PRIOR categoryid = CategoryPARENT
		ORDER SIBLINGS BY CategoryORDER
    </select>
	<select id="getCategoryInfo" resultType="Category">
		<choose>
			<when test='categoryId != null and categoryId==0'>
				select (select count(*) from asset) as possessions
				from dual
			</when>
			<otherwise>
				select categoryid,categoryname, CATEGORYPARENT, CATEGORYORDER, (select count(*) from asset where asset_category=categoryid) as possessions
		from category
		where categoryId=#{categoryId}
			</otherwise>
		</choose>
	</select>

	<insert id="addCategory">
		insert into category values(
		cat_seq.nextval
		, #{categoryName}
		<choose>
			<when test='categoryParent==0'>
				, null
				, nvl((SELECT max(categoryOrder) FROM (SELECT * FROM category WHERE CategoryPARENT is null))+1,0)
			</when>
			<otherwise>
				, #{categoryParent}
				, nvl((SELECT max(categoryOrder) FROM (SELECT * FROM category WHERE CategoryPARENT=#{categoryParent}))+1,0)
			</otherwise>
		</choose>
		
		)
	</insert>

<update id="updateCategoryName">
		update category
		set
		categoryname=#{categoryName}
		where
		categoryid=#{categoryId}
	</update>
	
	<delete id="deleteCategory">
		delete from category
		where categoryid=#{categoryId}
	</delete>

	<update id="updateCategoryOrder">
		update category
		set
		categoryParent=#{categoryParent}
		where
			categoryId=#{categoryId}
	</update>
</mapper>